// colors
$color-primary-500: hsl(158, 36%, 37%);
$color-primary-700: hsl(158, 42%, 18%);
$color-neutral-black: hsl(212, 21%, 14%);
$color-neutral-grey: hsl(228, 12%, 48%);
$color-neutral-cream: hsl(30, 38%, 92%);
$color-neutral-white: hsl(0, 0%, 100%);
// typography
$font-size-base: 14px;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-fraunces: 'Fraunces', serif;

html {
  box-sizing: border-box;
  font-size: $font-size-base;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $color-neutral-cream;
  font-family: $font-family-montserrat;
  color: $color-neutral-black;
}

.product-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 5.7143rem 0.8571rem;
  border-radius: 0.5714rem;
  max-width: 600px;
  background-color: $color-neutral-white;
}

.product-image {
  width: 100%;
}

.product-details {
  padding: 2.2857rem;
}

.product-content {
  display: flex;
  flex-direction: column;
  gap: 1.7143rem;
}

.product-category {
  font-size: 0.8571rem;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.4167em;
  text-transform: uppercase;
  color: $color-neutral-grey;
}

.product-title {
  font-family: $font-family-fraunces;
  font-size: 2.2857rem;
  font-weight: 700;
  line-height: 1em;
  color: $color-neutral-black;
}

.product-description {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6em;
  color: $color-neutral-grey;
}

.product-price {
  display: flex;
  align-items: center;
  gap: 1.1428rem;
  margin-top: 1.7143rem;

  .discounted {
    font-family: $font-family-fraunces;
    font-size: 2.2857rem;
    font-weight: 700;
    line-height: 1em;
    color: $color-primary-500;
  }

  .original {
    font-size: 0.9286rem;
    font-weight: 500;
    line-height: 1.2em;
    color: $color-neutral-grey;
  }
}

.add-to-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5714rem;
  margin-top: 1.7143rem;
  border: none;
  border-radius: 0.5714rem;
  padding: 1.1428rem 2.2857rem;
  background-color: $color-primary-500;
  color: $color-neutral-white;
  font-family: $font-family-montserrat;
  font-weight: 700;
  line-height: 1.1rem;
}

@media (min-width: 48rem) {
  .product-card {
    flex-direction: row;
    margin: unset;
  }

  .product-image {
    width: 50%;
    height: auto;
    object-fit: cover;
  }

  .product-details {
    width: 50%;
  }

  .product-price,
  .add-to-cart-btn {
    margin-top: 2.2857rem;
  }
}
