// colors
$color-primary-500: hsl(158, 36%, 37%);
$color-primary-700: hsl(158, 42%, 18%);
$color-neutral-black: hsl(212, 21%, 14%);
$color-neutral-grey: hsl(228, 12%, 48%);
$color-neutral-cream: hsl(30, 38%, 92%);
$color-neutral-white: hsl(0, 0%, 100%);
// typography
$font-size-base: 14px;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-fraunces: 'Fraunces', serif;

html {
  box-sizing: border-box;
  font-size: $font-size-base;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 5.715rem 0.857rem;
  background-color: $color-neutral-cream;
  font-family: $font-family-montserrat;
  color: $color-neutral-black;
}

.product-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.5714rem;
  background-color: $color-neutral-white;
}

.product-image {
  width: 100%;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 1.714rem;
  margin: 2.2857rem;
}
